<!doctype html>
<html lang="pt">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title>Detalhes Evento</title>
</head>
<body>
	<div class="container">

		<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
			<h4>Detalhes Evento</h4>
			<a class="btn-sm btn-info" th:href="@{/eventos}">Voltar</a>
		</nav>
	</div>
	<br>
	<br>
	<div class="container">

		<div class="row">

			<div class="col-md-8 mx-auto">
				<h3>Evento</h3>
				<table class="table table-split">
					<thead>
						<th>Nome</th>
						<th>Local</th>
						<th>Data</th>
						<th>Hora</th>
						<th></th>
					</thead>
					<tr th:each="event : ${event}">
						<td><span th:text="${event.name}"></span></td>
						<td><span th:text="${event.local}"></span></td>
						<td><span th:text="${event.date}"></span></td>
						<td><span th:text="${event.hour}"></span></td>
						<td><button type="button" class="btn-sm btn-info"
								data-toggle="modal" data-target="#convidadosModal">Adicionar
								convidado</button></td>
					</tr>
				</table>
			</div>
		</div>
		<br> <br>

		<div class="row">
			<!-- Modal -->
			<div class="modal fade" id="convidadosModal" tabindex="-1"
				role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Cadastrar
								Convidado</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<form method="post" action="#" th:action="${event.code}" th:object="${invited}">
							<div class="modal-body">
								<div class="form-row">
									<div class="col-md-12">
										<div class="form-group">
											<label for="nome">Nome</label>
											 <input type="text" th:field="*{name}" class="form-control">
										</div>
									</div>
								</div>
								<div class="form-row">
									<div class="col-md-12">
										<div class="form-group">
											<label for="local">RG</label>
											 <input type="text" th:field="*{rg}" class="form-control">
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Cancelar</button>
								<button type="submit" class="btn btn-info">Salvar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- fim modal -->
		</div>
	</div>
	<br>
	<br>

	<div class="container">
		<div class=row>
			<div class="col-md-8  mx-auto">
			<th:block th:include="mensagemValidacao"></th:block>
				<h3>Lista de Convidados</h3>
				<table class="table table-split">
					<thead>
						<th>Nome</th>
						<th>RG</th>
						<th></th>
					</thead>
					<tr th:each="invited: ${inviteds}">
						<td><a><span th:text="${invited.name}"></span></a></td>
						<td><a><span th:text="${invited.rg}"></span></a></td>
						<td><a
							th:href="${(#mvc.url('EC#deleteInvited').arg(0, invited.rg)).build()}"><img
								th:src="@{/imgs/ic_delete.png}"></a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>





