<!doctype html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">

<title>Cadastrar Evento</title>
</head>
<body>


	<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
		<h4>Cadastrar Eventos</h4>
		<a class="btn-sm btn-info" th:href="@{/eventos}">Voltar</a>
	</nav>

	<br>
	<br>

	<div class="container">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<th:block th:include="mensagemValidacao"></th:block>
				<div class="card card-body">
					<form action="#" th:action="@{/cadastrarEvento}"
						th:object="${event}" method="post">
						<div class="form-row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="name">Nome</label> <input type="text"
										th:field="*{name}" class="form-control" /> <span
										th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="local">Local</label> <input type="text"
										th:field="*{local}" class="form-control" /> <span
										th:if="${#fields.hasErrors('local')}" th:errors="*{local}"></span>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="data">Data</label> <input type="date"
										th:field="*{date}" class="form-control" /> <span
										th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="hora">Hora</label> <input type="text"
										th:field="*{hour}" class="form-control" /> <span
										th:if="${#fields.hasErrors('hour')}" th:errors="*{hour}"></span>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-12">
								<div class="form-group ">
									<button type="submit" class="btn btn-info">Salvar</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>





